<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019249748382-pvdfs10d407q45tmsrl92silmkgohlbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019249748382-pvdfs10d407q45tmsrl92silmkgohlbl</string>
	<key>API_KEY</key>
	<string>AIzaSyDM9IhVYPDdXOn2XU6bka9XDyCoIFaMDUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1019249748382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stealthChat</string>
	<key>PROJECT_ID</key>
	<string>stealth-chat-279820</string>
	<key>STORAGE_BUCKET</key>
	<string>stealth-chat-279820.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019249748382:ios:0a6cf34af1db9be7560e8f</string>
	<key>DATABASE_URL</key>
	<string>https://stealth-chat-279820.firebaseio.com</string>
</dict>
</plist>